/* #Basics (Inspired by E. Meyers)
================================================== */
@import "./node_modules/nes.css/css/nes.css"
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;}

body {
    background-color: #232222 !important;
    display: block;
}

.container{
    width: 1140px;
    height: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* the first page
============================ */
.headline{
    width: 100%;
    height: 100vh;
    margin-top: 15%;
    font-weight: 900;
    font-size: 50px;
    color: #d6d4d4 ;
}

.green{
  color: #b9d432;
}

.pink{
  color: #e56da8;
}

.two-col {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 1720px;
    position: relative;
}

.left-fix{
    order: 1;
    flex: 1 2rem;
    position: sticky;
    top: 0;
    height: 580px;
    padding-top: 15rem;
}

.right-scroll{
    order: 2;
    flex: 1 2rem;
    padding-top: 10rem;
    padding-right: 10rem;
    padding-left: 8rem;
    line-height: 2rem;
}

#right1, #right2, #right3 {
    display: block;
    margin-block-start: 9em;
    margin-block-end: 1em;
    margin-inline-start: 1empx;
    margin-inline-end: 0px;
    width: 350px;
    padding: 8px 8px;
    margin-right: 5px;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    background: transparent;
    color: #ffffff;
    top: 30px;
    right: 150px;
    opacity: 75%;
}

.right3-text{
  color: #e8e8e8;
  font-size: 15px;
  font-weight: 400;
  float: left;
  padding-top: 95px;
  text-align: left;
  line-height: 18px;
}


/* the second page
============================ */
.question{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 55vh;
    margin-top: 13%;
    margin-bottom: 3%;
    font-weight: 400;
    font-size: 20px;
    color: #bdbdbd;
}

.question-2{
  font-size: 15px;
  font-weight: 200;
  padding-top: 5px;
}

.sideleft {
    order: 1;
    flex: 1 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.sideright {
    order: 2;
    flex: 1 2rem;
}

.scroll {
    padding-left: 42%;
    font-size: 10px;
    color: #B2AEAE;
}

#arrow {
    height: 8rem;
    padding-top: 5px;
    padding-left: 47%;
    height: 155px;
}

.arrow-down {
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #e56da8;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#all{
float: right;
position: relative;
right: 530px;
font-size: 15px;
font-weight: 300;
color: #B2AEAE;
}



/*scrolling 
============================== */


#element {
  width: 100%;

  scroll-margin-block-start: 30px;
  /*Adds margin to the top of the viewport*/
  
  scroll-margin-block-end: 110px;
  /*Adds margin to the bottom of the viewport*/
}

/* switch modes
============================ */

/* switch modes
============================ */

.switch{
    margin-left: 85%;
    position: relative;
    top: -25px;
}

.mode1-title{
    width: 50px;
    font-size: 11px;
    font-weight: 100;
    color: #7d7a7a;    
    top: 20px;
    right: 61px;
    position: relative;
}

.mode1-title-text{
    font-size: 10px;
    font-weight: 100;
    color: #7d7a7a;    
    left: 30px;
    position: relative;
}
.mode2-title{
    width: 150px;
    font-size: 11px;
    font-weight: 100;
    color: #7d7a7a;    
    top: -10px;
    left: 50px;
    position: relative;
}

.mode1{
    background-color: #423f3f;
    width: 48px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    position: relative;
    float: left;
    border: none;
    top: -10px;
    right: -2px; 
}

.mode1:hover {
  background-color: #423f3f;
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
}

.mode2{
    margin-left: 5px;
    background-color: #1a1716;
    padding: 3px 10px;
    border: 2px solid #e56da8;
    width: 45px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    position: relative;
    float: right;
    top: -40px;
    right: 72px;
}

.mode2:hover {
  background-color: #423f3f;
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
}


.arrow{
  float: right;
  position: relative;
  right: 8px;
  top: -15px;
}

.arrow-text{   
   top: 33px;
   right: 40px;
   position: relative;
   float: right;
   font-size: 9px;
   font-weight: 100;
   color: #B2AEAE;
}

.fun{
  margin-left: 5px;
  position: relative;
  float: left;
}

.titles{
  width: 100%;
  height: 12%;
  margin-bottom: 35px;
  margin-top: 30px;
  float: left;
  position: relative;
}

.content{
  width: 100%;
  height: 88%;
  float: left;
  position: relative;
}

/* buttongroup
============================ */

#buttongroup{
    height: 17%;
    margin-bottom: 38px;
}

.buttons {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.button {
  width: 85px;
  padding: 5px 5px;
  margin-right: 0.5px;
  margin-bottom: 3px;
  cursor: pointer;
  text-align: center;
  font-size: 9px;
  font-weight: 400;
  border: none;
  float: left;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #2F2D2D;
  color: #d9d7d7;

}
.button:hover {
  background: #747373;
}
.button.current {
  background: #1a1716; 
  color: #24adbf !important;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
  padding-left: 20px;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

img {
  position: relative;
  float: left;
  margin-right: 5px;
}

/* charts
============================ */

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.charts {
    position: relative;
    width: 100%;
    height: 71%;
}

.charts-guide {
    font-size: 15px;
    font-weight: 300;
    color: #d6d4d4;
}

.holder{
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top:0;
  padding-left:0;

}

.mixbreed {
  position: relative;
  margin-top: 20px;
  width: 100%;

}

.purebreeds {
  position: relative;
  margin-top: 20px;
  width: 100%;
}


.headerline {
    position: relative;
    border-bottom: solid 1px;
    border-color: #807f7f;
    width: 180px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}


/* Text
============================ */

.centered {
  float: left;
  font-weight: 900;
  font-size: 40px;
  margin: 0 0 6px 0px;
  color: #d6d4d4;
}
h3{
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  padding: 3px 0px 7px 0;
  color: #DBD9D9;
}

h4 {
  width: 100%;
  font-size: 13px;
  font-weight: 300;
  padding: 3px 0px 5px 0;
  font-style: normal;
  line-height: 1.3em;
  color: #807f7f;
}


.sub-title{
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: .5em;
    color: #d6d4d4;
}

.guide{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: .8em;
    color: #807f7f;
}

.value {
font-size: 12px;
font-weight: 500;
color: #F7F7F7;
}

.name{
font-size: 9.5px;
font-weight: 200;
fill: #F7F7F7;
}

/* resetbutton
============================ */
.divder-reset{
    right: 787px;
    font-size: 15px;
    font-weight: 100;
    color: #807f7f;
    position: relative;
    float: right;
}
.button-reset{
  background: transparent;
  border: none;
}

.reset-text{
   right: 688px;
    font-size: 15px;
    font-weight: 300;
    color: #807f7f;
    position: relative;
    float: right;
}

.reset-img{
   position: relative;
   margin-top: 1px;
}

#all {
    float: right;
    position: relative;
    right: 570px;
    font-size: 15px;
    font-weight: 300;
    color: #B2AEAE;
}

/* tooltip
============================ */

.iconhover {
  position: relative;
  display: inline-block;
  float: left;
}

.iconhover #tooltiptext {
  visibility: hidden;
  width: 200px;
  height: 60px;
  font-weight: 400;
  font-size:10px;
  opacity: 70%;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 120%;
}

.iconhover #tooltiptext::after {
  content: "";
  position: absolute;
  top: 20%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.iconhover:hover #tooltiptext {
  visibility: visible;
}

.cite{
    position: relative;
    float: right;
    font-size: 10px;
    font-weight: 400;
    color: #B2AEAE;
    margin-bottom: 55px;
    width: 48%;
}

.about{
  float: left;
}

.dot{
  float: left;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.project{
  float: left;
  position: relative;
}

.team{
   margin-bottom: 5px;
}

.dot-last{
  left: 6%;
  float: left;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.data{
    left: 6%;
    position: relative;
    float: left;
    font-size: 10px;
    font-weight: 400;
    color: #B2AEAE;
    margin-bottom: 5px;
}

.view{
    left: 9%;
    position: relative;
    float: left;
    font-size: 10px;
    font-weight: 400;
    color: #B2AEAE;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;

}

.repo, .paper{
    left: 6%;
    position: relative;
    float: left;
    font-size: 10px;
    font-weight: 400;
    color: #B2AEAE;
    margin-bottom: 5px;
    margin-left: 10px;
}
